<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>

		
		
	</head>
	<style>
		
	</style>
	<body>
		<div class="container">
			<div class="col-lg-12 mb-5">
                <div class="card">
                  <div class="card-header">
                    <h3 class="h6 text-uppercase mb-0">商品类别 <span class="col-md-2" style="float: right;">
					<a href="#tjym" class="btn btn-success " data-toggle="modal">添加类别</a></span></h3>
                  </div>
                  <div class="card-body">
                    <table class="table table-hover table-striped">
					<thead>
						<tr>
							<th style="text-align: center;">序号</th>
							<th style="text-align: center;">名称</th>
							<th style="text-align: center;">操作</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td style="text-align: center;">1</td>
							<td style="text-align: center;">名称</td>
							<td style="text-align: center;"><a href="javascript:void(0);">修改</a>&nbsp;<a href="javascript:void(0);">删除</a></td>
						</tr>
					</tbody>
				</table>
                  </div>
                </div>
              </div>
			
			
			<div id="tjym" class="modal fade bs-example-modal-sm">
					<div class="modal-dialog modal-sm">
						  <div class="modal-content">
						<div class="modal-header">
							
							<h3>添加类别</h3>
							<button class="close" data-dismiss="modal">&times;</button>
						</div>
						<div class="modal-body">
							名称<input type="text" id="lbname"/>
						</div>
						<div class="modal-footer">
							<button class="btn btn-default" data-dismiss="modal">取消</button>
							<button class="btn btn-success" id="qd">确定</button>
						</div>
					</div>
					</div>
				</div>
			
			
			<!--<div class="row col-md-12 " style="border: 1px solid;">
				<h3 class="col-md-2">商品类别</h3> <span class="col-md-2" style="margin-left: 650px;">
					<a href="#tjym" class="btn btn-success " data-toggle="modal">添加类别</a>
				</span>
			</div>
			<div class="row col-md-12">
				<table class="table table-hover table-striped">
					<thead>
						<tr>
							<th style="text-align: center;">序号</th>
							<th style="text-align: center;">名称</th>
							<th style="text-align: center;">操作</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td style="text-align: center;">1</td>
							<td style="text-align: center;">名称</td>
							<td style="text-align: center;"><a href="javascript:void(0);">修改</a>&nbsp;<a href="javascript:void(0);">删除</a></td>
						</tr>
					</tbody>
				</table>
				<div id="tjym" class="modal fade bs-example-modal-sm">
					<div class="modal-dialog modal-sm">
						  <div class="modal-content">
						<div class="modal-header">
							
							<h3>添加类别</h3>
							<button class="close" data-dismiss="modal">&times;</button>
						</div>
						<div class="modal-body">
							名称<input type="text" id="lbname"/>
						</div>
						<div class="modal-footer">
							<button class="btn btn-default" data-dismiss="modal">取消</button>
							<button class="btn btn-success" id="qd">确定</button>
						</div>
					</div>
					</div>
				</div>
			</div>-->
			
		</div>
		
	</body>
</html>
