<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.accp.mapper.GongyingshangMapper" >
  <resultMap id="BaseResultMap" type="com.accp.domain.Gongyingshang" >
    <id column="gysid" property="gysid" jdbcType="INTEGER" />
    <result column="gysname" property="gysname" jdbcType="VARCHAR" />
    <result column="gysjianchen" property="gysjianchen" jdbcType="VARCHAR" />
    <result column="gyslianxiren" property="gyslianxiren" jdbcType="VARCHAR" />
    <result column="gysphone" property="gysphone" jdbcType="VARCHAR" />
    <result column="gysemail" property="gysemail" jdbcType="VARCHAR" />
    <result column="gysaddress" property="gysaddress" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    gysid, gysname, gysjianchen, gyslianxiren, gysphone, gysemail, gysaddress
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.accp.domain.GongyingshangExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from gongyingshang
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from gongyingshang
    where gysid = #{gysid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from gongyingshang
    where gysid = #{gysid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.accp.domain.GongyingshangExample" >
    delete from gongyingshang
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.accp.domain.Gongyingshang" >
    insert into gongyingshang (gysid, gysname, gysjianchen, 
      gyslianxiren, gysphone, gysemail, 
      gysaddress)
    values (#{gysid,jdbcType=INTEGER}, #{gysname,jdbcType=VARCHAR}, #{gysjianchen,jdbcType=VARCHAR}, 
      #{gyslianxiren,jdbcType=VARCHAR}, #{gysphone,jdbcType=VARCHAR}, #{gysemail,jdbcType=VARCHAR}, 
      #{gysaddress,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.accp.domain.Gongyingshang" >
    insert into gongyingshang
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="gysid != null" >
        gysid,
      </if>
      <if test="gysname != null" >
        gysname,
      </if>
      <if test="gysjianchen != null" >
        gysjianchen,
      </if>
      <if test="gyslianxiren != null" >
        gyslianxiren,
      </if>
      <if test="gysphone != null" >
        gysphone,
      </if>
      <if test="gysemail != null" >
        gysemail,
      </if>
      <if test="gysaddress != null" >
        gysaddress,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="gysid != null" >
        #{gysid,jdbcType=INTEGER},
      </if>
      <if test="gysname != null" >
        #{gysname,jdbcType=VARCHAR},
      </if>
      <if test="gysjianchen != null" >
        #{gysjianchen,jdbcType=VARCHAR},
      </if>
      <if test="gyslianxiren != null" >
        #{gyslianxiren,jdbcType=VARCHAR},
      </if>
      <if test="gysphone != null" >
        #{gysphone,jdbcType=VARCHAR},
      </if>
      <if test="gysemail != null" >
        #{gysemail,jdbcType=VARCHAR},
      </if>
      <if test="gysaddress != null" >
        #{gysaddress,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.accp.domain.GongyingshangExample" resultType="java.lang.Integer" >
    select count(*) from gongyingshang
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update gongyingshang
    <set >
      <if test="record.gysid != null" >
        gysid = #{record.gysid,jdbcType=INTEGER},
      </if>
      <if test="record.gysname != null" >
        gysname = #{record.gysname,jdbcType=VARCHAR},
      </if>
      <if test="record.gysjianchen != null" >
        gysjianchen = #{record.gysjianchen,jdbcType=VARCHAR},
      </if>
      <if test="record.gyslianxiren != null" >
        gyslianxiren = #{record.gyslianxiren,jdbcType=VARCHAR},
      </if>
      <if test="record.gysphone != null" >
        gysphone = #{record.gysphone,jdbcType=VARCHAR},
      </if>
      <if test="record.gysemail != null" >
        gysemail = #{record.gysemail,jdbcType=VARCHAR},
      </if>
      <if test="record.gysaddress != null" >
        gysaddress = #{record.gysaddress,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update gongyingshang
    set gysid = #{record.gysid,jdbcType=INTEGER},
      gysname = #{record.gysname,jdbcType=VARCHAR},
      gysjianchen = #{record.gysjianchen,jdbcType=VARCHAR},
      gyslianxiren = #{record.gyslianxiren,jdbcType=VARCHAR},
      gysphone = #{record.gysphone,jdbcType=VARCHAR},
      gysemail = #{record.gysemail,jdbcType=VARCHAR},
      gysaddress = #{record.gysaddress,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.accp.domain.Gongyingshang" >
    update gongyingshang
    <set >
      <if test="gysname != null" >
        gysname = #{gysname,jdbcType=VARCHAR},
      </if>
      <if test="gysjianchen != null" >
        gysjianchen = #{gysjianchen,jdbcType=VARCHAR},
      </if>
      <if test="gyslianxiren != null" >
        gyslianxiren = #{gyslianxiren,jdbcType=VARCHAR},
      </if>
      <if test="gysphone != null" >
        gysphone = #{gysphone,jdbcType=VARCHAR},
      </if>
      <if test="gysemail != null" >
        gysemail = #{gysemail,jdbcType=VARCHAR},
      </if>
      <if test="gysaddress != null" >
        gysaddress = #{gysaddress,jdbcType=VARCHAR},
      </if>
    </set>
    where gysid = #{gysid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.accp.domain.Gongyingshang" >
    update gongyingshang
    set gysname = #{gysname,jdbcType=VARCHAR},
      gysjianchen = #{gysjianchen,jdbcType=VARCHAR},
      gyslianxiren = #{gyslianxiren,jdbcType=VARCHAR},
      gysphone = #{gysphone,jdbcType=VARCHAR},
      gysemail = #{gysemail,jdbcType=VARCHAR},
      gysaddress = #{gysaddress,jdbcType=VARCHAR}
    where gysid = #{gysid,jdbcType=INTEGER}
  </update>
</mapper>