<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.accp.mapper.VipMapper" >
  <resultMap id="BaseResultMap" type="com.accp.domain.Vip" >
    <id column="vid" property="vid" jdbcType="INTEGER" />
    <result column="djid" property="djid" jdbcType="INTEGER" />
    <result column="vname" property="vname" jdbcType="VARCHAR" />
    <result column="vphone" property="vphone" jdbcType="VARCHAR" />
    <result column="vyue" property="vyue" jdbcType="REAL" />
    <result column="vjifen" property="vjifen" jdbcType="INTEGER" />
    <result column="vpwd" property="vpwd" jdbcType="VARCHAR" />
    <result column="vaddress" property="vaddress" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    vid, djid, vname, vphone, vyue, vjifen, vpwd, vaddress
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.accp.domain.VipExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from vip
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from vip
    where vid = #{vid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from vip
    where vid = #{vid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.accp.domain.VipExample" >
    delete from vip
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.accp.domain.Vip" >
    insert into vip (vid, djid, vname, 
      vphone, vyue, vjifen, 
      vpwd, vaddress)
    values (#{vid,jdbcType=INTEGER}, #{djid,jdbcType=INTEGER}, #{vname,jdbcType=VARCHAR}, 
      #{vphone,jdbcType=VARCHAR}, #{vyue,jdbcType=REAL}, #{vjifen,jdbcType=INTEGER}, 
      #{vpwd,jdbcType=VARCHAR}, #{vaddress,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.accp.domain.Vip" >
    insert into vip
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="vid != null" >
        vid,
      </if>
      <if test="djid != null" >
        djid,
      </if>
      <if test="vname != null" >
        vname,
      </if>
      <if test="vphone != null" >
        vphone,
      </if>
      <if test="vyue != null" >
        vyue,
      </if>
      <if test="vjifen != null" >
        vjifen,
      </if>
      <if test="vpwd != null" >
        vpwd,
      </if>
      <if test="vaddress != null" >
        vaddress,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="vid != null" >
        #{vid,jdbcType=INTEGER},
      </if>
      <if test="djid != null" >
        #{djid,jdbcType=INTEGER},
      </if>
      <if test="vname != null" >
        #{vname,jdbcType=VARCHAR},
      </if>
      <if test="vphone != null" >
        #{vphone,jdbcType=VARCHAR},
      </if>
      <if test="vyue != null" >
        #{vyue,jdbcType=REAL},
      </if>
      <if test="vjifen != null" >
        #{vjifen,jdbcType=INTEGER},
      </if>
      <if test="vpwd != null" >
        #{vpwd,jdbcType=VARCHAR},
      </if>
      <if test="vaddress != null" >
        #{vaddress,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.accp.domain.VipExample" resultType="java.lang.Integer" >
    select count(*) from vip
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update vip
    <set >
      <if test="record.vid != null" >
        vid = #{record.vid,jdbcType=INTEGER},
      </if>
      <if test="record.djid != null" >
        djid = #{record.djid,jdbcType=INTEGER},
      </if>
      <if test="record.vname != null" >
        vname = #{record.vname,jdbcType=VARCHAR},
      </if>
      <if test="record.vphone != null" >
        vphone = #{record.vphone,jdbcType=VARCHAR},
      </if>
      <if test="record.vyue != null" >
        vyue = #{record.vyue,jdbcType=REAL},
      </if>
      <if test="record.vjifen != null" >
        vjifen = #{record.vjifen,jdbcType=INTEGER},
      </if>
      <if test="record.vpwd != null" >
        vpwd = #{record.vpwd,jdbcType=VARCHAR},
      </if>
      <if test="record.vaddress != null" >
        vaddress = #{record.vaddress,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update vip
    set vid = #{record.vid,jdbcType=INTEGER},
      djid = #{record.djid,jdbcType=INTEGER},
      vname = #{record.vname,jdbcType=VARCHAR},
      vphone = #{record.vphone,jdbcType=VARCHAR},
      vyue = #{record.vyue,jdbcType=REAL},
      vjifen = #{record.vjifen,jdbcType=INTEGER},
      vpwd = #{record.vpwd,jdbcType=VARCHAR},
      vaddress = #{record.vaddress,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.accp.domain.Vip" >
    update vip
    <set >
      <if test="djid != null" >
        djid = #{djid,jdbcType=INTEGER},
      </if>
      <if test="vname != null" >
        vname = #{vname,jdbcType=VARCHAR},
      </if>
      <if test="vphone != null" >
        vphone = #{vphone,jdbcType=VARCHAR},
      </if>
      <if test="vyue != null" >
        vyue = #{vyue,jdbcType=REAL},
      </if>
      <if test="vjifen != null" >
        vjifen = #{vjifen,jdbcType=INTEGER},
      </if>
      <if test="vpwd != null" >
        vpwd = #{vpwd,jdbcType=VARCHAR},
      </if>
      <if test="vaddress != null" >
        vaddress = #{vaddress,jdbcType=VARCHAR},
      </if>
    </set>
    where vid = #{vid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.accp.domain.Vip" >
    update vip
    set djid = #{djid,jdbcType=INTEGER},
      vname = #{vname,jdbcType=VARCHAR},
      vphone = #{vphone,jdbcType=VARCHAR},
      vyue = #{vyue,jdbcType=REAL},
      vjifen = #{vjifen,jdbcType=INTEGER},
      vpwd = #{vpwd,jdbcType=VARCHAR},
      vaddress = #{vaddress,jdbcType=VARCHAR}
    where vid = #{vid,jdbcType=INTEGER}
  </update>
</mapper>