<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.accp.mapper.YanseleibieMapper" >
  <resultMap id="BaseResultMap" type="com.accp.domain.Yanseleibie" >
    <id column="yslbid" property="yslbid" jdbcType="INTEGER" />
    <result column="yslbtype" property="yslbtype" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    yslbid, yslbtype
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.accp.domain.YanseleibieExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from yanseleibie
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from yanseleibie
    where yslbid = #{yslbid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from yanseleibie
    where yslbid = #{yslbid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.accp.domain.YanseleibieExample" >
    delete from yanseleibie
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.accp.domain.Yanseleibie" >
    insert into yanseleibie (yslbid, yslbtype)
    values (#{yslbid,jdbcType=INTEGER}, #{yslbtype,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.accp.domain.Yanseleibie" >
    insert into yanseleibie
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="yslbid != null" >
        yslbid,
      </if>
      <if test="yslbtype != null" >
        yslbtype,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="yslbid != null" >
        #{yslbid,jdbcType=INTEGER},
      </if>
      <if test="yslbtype != null" >
        #{yslbtype,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.accp.domain.YanseleibieExample" resultType="java.lang.Integer" >
    select count(*) from yanseleibie
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update yanseleibie
    <set >
      <if test="record.yslbid != null" >
        yslbid = #{record.yslbid,jdbcType=INTEGER},
      </if>
      <if test="record.yslbtype != null" >
        yslbtype = #{record.yslbtype,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update yanseleibie
    set yslbid = #{record.yslbid,jdbcType=INTEGER},
      yslbtype = #{record.yslbtype,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.accp.domain.Yanseleibie" >
    update yanseleibie
    <set >
      <if test="yslbtype != null" >
        yslbtype = #{yslbtype,jdbcType=VARCHAR},
      </if>
    </set>
    where yslbid = #{yslbid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.accp.domain.Yanseleibie" >
    update yanseleibie
    set yslbtype = #{yslbtype,jdbcType=VARCHAR}
    where yslbid = #{yslbid,jdbcType=INTEGER}
  </update>
</mapper>